<div class="panel-group" id="accordionPanels" aria-multiselectable="true">
  <% @categories.each do |group| %>
    <div class="panel panel-default">
      <div class="panel-heading" id="heading<%= group.first.id %>">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordionPanels" href="#collapse<%= group.first.id %>">
            <%= group.first.title %>
          </a>
        </h4>
      </div>
      <div id="collapse<%= group.first.id %>" class="panel-collapse collapse">
        <div class="panel-body">
          <ul class="list-group">
            <% group.last.each do |sub_category| %>
              <li class="list-group-item">
                <a href="<%= category_path(sub_category) %>"><%= sub_category.title %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>
