<ul class="list-group">
  <% @categories.each do |group| %>
    <li class="list-group-item dropdown">
      <a class="dropdown-toggle" href="#" id="categoryDropdown<%= group.first.id %>" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span style="color: black;"><%= group.first.title %></span>
      </a>

      <div class="dropdown-menu mt-0" aria-labelledby="categoryDropdown<%= group.first.id %>">
        <% group.last.each do |sub_category| %>
          <a class="dropdown-item" href="<%= category_path(sub_category) %>" role="button" ><span style="color: black;"><%= sub_category.title %></span></a>
        <% end -%>
      </div>
    </li>
  <% end -%>
</ul>
