<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <% if flash[:error].present? %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
      <% end %>
      <div class="thumbnail">
        <%= link_to image_tag(product.main_product_image.image, style: "width: 200px; height: 200px; display: block", alt: product.title), product_path(product) %>
        <div class="caption">
          <h4><%= link_to product.title, product_path(product), class: 'title' %></h4>
          <p><strong>¥<%= product.price %></strong> <span class="msrp">¥<%= product.msrp %></span></p>
          <% if product.amount.zero? %>
            <p><a href="#" class="btn btn-danger disabled">商品已售罄</a></p>
          <% else %>
            <p><%= show_add_to_cart product, html_class: "btn" %></p>
          <% end %>
        </div>
      </div>
    </div>
  <% end -%>
</div>

<%= will_paginate @products %>