<div class="modal fade" tabindex="-1" id="cart_item_modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <% if flash[:error].present? %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
      <% else %>
        <div class="modal-body">
          <h4 class="text text-success"><i class='fa fa-check-circle-o'></i> 加入购物车成功</h4>

          <div class="media">
            <div class="media-left">
              <a href="javascript:;">
                <%= image_tag @product.main_product_image.image, style: "width: 200px; height: 200px; display: block", class: 'media-object', alt: @product.title %>
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= @product.title %></h4>
              数量: <%= @cart_item.amount %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="refreshPage()">继续购物</button>
          <%= link_to "查看购物车", cart_items_path, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
    function refreshPage() {
        location.reload();
    }
</script>


