<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>商品实体</title>
  <!-- Add your CSS links here -->
  <style>
      /* Paste the CSS styles here */
      h1 {
          color: #333;
      }

      .pull-right {
          margin-bottom: 20px;
      }

      .btn-lg {
          padding: 15px 20px;
          font-size: 18px;
      }

      .table {
          width: 100%;
          margin-bottom: 20px;
          border-collapse: collapse;
          border-spacing: 0;
          background-color: #fff;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      th, td {
          padding: 15px;
          text-align: left;
          border-bottom: 1px solid #ddd;
      }

      th {
          background-color: rgba(53, 0, 197, 0.39);
          color: #fff;
      }

      tbody tr:hover {
          background-color: #f5f5f5;
      }

      .item-image-container {
          width: 100px; /* Adjust image container width */
          height: 100px; /* Adjust image container height */
          overflow: hidden;
      }

      .product-item-image {
          width: 100%;
          height: auto;
          border-radius: 5px;
      }

      .btn-primary {
          background-color: rgba(0, 141, 203, 0.56);
          color: #fff;
          border: 1px solid #007bff;
          padding: 7px 15px;
          text-decoration: none;
          display: inline-block;
          border-radius: 10px;
          transition: background-color 0.3s;
      }

      .btn-primary:hover {
          background-color: #0056b3;
      }
  </style>
</head>

<body>
<%= form_tag(admin_import_products_path, multipart: true, encoding: 'bom|utf-8') do %>
  <div class="form-group">
    <%= label_tag(:file_path, "选择 CSV 文件：") %>
    <%= file_field_tag(:file_path, accept: ".csv", class: 'form-control-file') %>
  </div>

  <%= submit_tag("导入", class: "btn btn-primary") %>
<% end %>
<div class="container">
  <div>
    <div class="pull-right">
      <%= link_to "新建商品", new_admin_product_path, class: "btn-lg btn-success" %>
    </div>

    <h1>
      商品
    </h1>
  </div>

  <div>
    <table class="table table-striped">

      <tr>
        <th>ID</th>
        <th>名称</th>
        <th>UUID/SKU</th>
        <th>标价</th>
        <th>零售价</th>
        <th>状态</th>
        <th>统计信息</th>
        <th></th>
      </tr>

      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.title %></td>
          <td><%= product.uuid %></td>
          <td><%= product.price %></td>
          <td><%= product.msrp %></td>
          <td><strong><%= product.status %></strong></td>
          <td><%= link_to "查看", stat_path(product.id), method: :get, class: "btn btn btn-info"%></td>
          <td align="right">
            <%= link_to "编辑信息", edit_admin_product_path(product), class: "btn btn btn-info" %>
            <%= link_to "商品实体", admin_product_product_items_path(product), class: "btn btn-info" %>
            <%= link_to "删除", admin_product_path(product), method: :delete, 'data-confirm': "确认删除吗?", class: "btn btn btn-danger" %>
          </td>
        </tr>
      <% end -%>

    </table>

    <%= will_paginate @products %>
  </div>
</div>
</body>
</html>