<div class="row">
  <div class="col-lg-3">
    <%= render 'shared/categories' %>
  </div>
  <div class="col-lg-9">

    <ol class="breadcrumb">
      <li><a href="<%= root_path %>">Home</a></li>
      <li class="active"><%= @product.category.parent.title %></li>
      <li><a href="<%= category_path @product.category %>"><%= @product.category.title %></a></li>
      <li class="active"><%= @product.title %></li>
    </ol>


    <div class="row">
      <% @product.product_items.each do |pi| %>

        <% if pi.image.blank? %>
          <div class="image-container">
            <%= image_tag "no_product.jpg", class: "resized-image", alt: "" %>
          </div>
        <% else %>
          <div class="col-xs-6 col-md-3 mb-4">
            <a href="#" class="thumbnail detail">
              <div class="image-container">
                <%= image_tag pi.image, class: "resized-image", alt: "" %>
              </div>
            </a>
          </div>
        <% end -%>

      <% end -%>
    </div>

    <h1><%= @product.title %></h1>


    <ul class="list-unstyled">
      <% unless @product.product_sizes.empty? and @product.product_colors.empty? %>
        <div>

          <% unless @product.product_sizes.empty? %>
            <div class="swatch clearfix" data-option-index="0" style="display: inline-block;">
              <div class="header">Size</div>
              <% @product.product_sizes.each_with_index do |size, index| %>
                <div class="swatch-element plain available">

                  <input id="swatch-<%= size.size_id %>" type="radio" name="option-size" value=<%= size.size_id %>

                      <% if index == 0 %>checked="checked"
                         <% end %> />

                  <label for="swatch-<%= size.size_id %>">
                    <%= size_name(size.size_id) %>
                  </label>

                </div>
              <% end %>
            </div>
          <% end %>

          <% unless @product.product_colors.empty? %>
            <div class="swatch clearfix" data-option-index="1" style="display: inline-block;">
              <div class="header">Color</div>
              <% @product.product_colors.each_with_index do |color, index| %>
                <div class="swatch-element color available">
                  <input id="swatch-color-<%= color.color_id %>" type="radio" name="option-color" value="<%= color.color_id %>"
                         <% if index == 0 %>checked="checked"
                         <% end %> />
                  <label for="swatch-color-<%= color.color_id %>">
                    <span class="var" style="background-color: <%= Color.find_by(id: color.color_id)&.hex_code %>;"></span>
                  </label>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

    </ul>


    <span id="stock-display"></span>

    <strong style="font-weight: bold; font-size: 24px;">¥<%= @product.price %></strong>
    <span class="msrp" style="font-weight: bold; font-size: 16px;">¥<%= @product.msrp %></span>


    <ul class="nav nav-tabs mt-5">
      <li role="presentation" class="active"><a href="javascript:">商品描述</a></li>
    </ul>
    <%= @product.description %>



    <form method="post" action="<%= cart_items_path %>">
      <%= csrf_meta_tags %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="hidden" name="product_item_id" value="2"/>

      <% unless @product.product_sizes.empty? %>
        <input type="hidden" name="size_id" value="<%= @product.product_sizes.first.size_id %>"/>
      <% end %>

      <% unless @product.product_colors.empty? %>
        <input type="hidden" name="color_id" value="<%= @product.product_colors.first.color_id %>"/>
      <% end %>

      <p>数量: <input type="text" name="amount" value="1"/></p>

      <p>
        <button type="submit" class="btn btn-primary"><span id="judge_submit"></span></button>
      </p>
    </form>


<!--    <form id="dynamic-form" method="post" action="<%#= cart_items_path %>">-->
      <%#= csrf_meta_tags %>
      <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
<!--    </form>-->

  </div>


  <h1>
    --------
  </h1>


  <p>The result is: <span id="item_size"></span></p>
  <p>The result is: <span id="item_color"></span></p>

  <div id="inventory_id"></div>
  <div id="inventory_amount"></div>
  <div>
    <img id="inventory_image" alt="Inventory Image" src="">
  </div>

  <div id="submit_info"></div>


</div>


<script>
    let product_item_id = 0;
    let product_id = <%= @product.id %>;
    let size_id = 0;
    let color_id = 0;
    document.getElementById("item_color").innerHTML = parseInt(2, 10);

    // 当用户选择不同尺码时更新 size_id 的值
    document.querySelectorAll('input[name="option-size"]').forEach(function (radio) {
        radio.addEventListener('change', function () {

            document.querySelector('input[name="size_id"]').value = this.value;

            size_id = this.value;
            document.getElementById("item_size").innerHTML = parseInt(size_id, 10);
            updateInventory()
        });
    });

    // 当用户选择不同颜色时更新 color_id 的值
    document.querySelectorAll('input[name="option-color"]').forEach(function (radio) {
        radio.addEventListener('change', function () {

            document.querySelector('input[name="color_id"]').value = this.value;

            color_id = this.value;
            document.getElementById("item_color").innerHTML = parseInt(color_id, 10);
            updateInventory()
        });
    });

    function updateInventory() {
        var size_id = parseInt(document.getElementById("item_size").innerHTML, 10);
        var color_id = parseInt(document.getElementById("item_color").innerHTML, 10);

        // 使用 AJAX 请求向服务器发送尺寸和颜色的值
        $.ajax({
            type: "GET",
            url: "/products/get_product_item",
            data: {product_id: product_id, size_id: size_id, color_id: color_id},
            dataType: "json",
            success: function (response) {

                if (false === response.flag) {
                    document.getElementById("judge_submit").innerHTML = 'no sir'
                    document.getElementById("inventory_amount").innerText = '别看了sb';
                    document.getElementById("inventory_image").src = 0;
                    return
                }

                var inventoryAmount = response.inventory_amount;
                var inventoryImage = response.inventory_image;

                product_item_id = response.inventory_id;


                document.getElementById("judge_submit").innerHTML = '加入购物车'
                document.getElementById("inventory_id").innerText = 'item_id: ' + product_item_id;
                document.getElementById("inventory_amount").innerText = '库存: ' + inventoryAmount;
                document.getElementById("inventory_image").src = inventoryImage;


                document.querySelector('input[name="product_item_id"]').value = product_item_id;
                document.querySelector('input[name="size_id"]').value = size_id;
                document.querySelector('input[name="color_id"]').value = color_id;

                document.getElementById("submit_info").innerHTML = 'id: ' + product_item_id + ", size: " + size_id + ", color: " + color_id;


            },
            error: function () {
                console.error("Failed to fetch inventory data.");
            }
        });
    }


    // document.addEventListener('DOMContentLoaded', function () {
    //
    //     // 创建 hidden input 元素并添加到表单中
    //     function createHiddenInput(name, value) {
    //         var input = document.createElement('input');
    //         input.type = 'hidden';
    //         input.name = name;
    //         input.value = value;
    //         document.getElementById('dynamic-form').appendChild(input);
    //     }
    //
    //     // 添加 product_id 到表单
    //
    //
    //     createHiddenInput('product_item_id', product_item_id);
    //     createHiddenInput('size_id', size_id);
    //     createHiddenInput('color_id', color_id);
    //
    //     document.getElementById("submit_info").innerHTML = 'id: ' + product_item_id + ", size: " + size_id + ", color: " + color_id;
    //
    //     // 添加数量输入框到表单
    //     var amountInput = document.createElement('input');
    //     amountInput.type = 'text';
    //     amountInput.name = 'amount';
    //     amountInput.value = '1';
    //     document.getElementById('dynamic-form').appendChild(amountInput);
    //
    //     // 添加提交按钮到表单
    //     var submitButton = document.createElement('button');
    //     submitButton.type = 'submit';
    //     submitButton.className = 'btn btn-primary';
    //     submitButton.innerHTML = '<span id="judge_submit"></span>';
    //     document.getElementById('dynamic-form').appendChild(submitButton);
    // });

</script>
